@charset 'utf-8';
@import './style.scss';
@import './mixin.scss';

@font-face {
    font-family: "DynaPuff-Regular";
    font-weight: 400;
    src: local("DynaPuff-Regular"),
         url("/font/DynaPuff-Regular.woff2") format("woff2"),
         url("/font/DynaPuff-Regular.woff") format("woff"),
         url("/font/DynaPuff-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "DynaPuff-Medium";
    font-weight: 500;
    src: local("DynaPuff-Medium"),
         url("/font/DynaPuff-Medium.woff2") format("woff2"),
         url("/font/DynaPuff-Medium.woff") format("woff"),
         url("/font/DynaPuff-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "DynaPuff-Semibold";
    font-weight: 600;
    src: local("DynaPuff-Semibold"),
         url("/font/DynaPuff-Semibold.woff2") format("woff2"),
         url("/font/DynaPuff-Semibold.woff") format("woff"),
         url("/font/DynaPuff-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "DynaPuff-Bold";
    font-weight: 700;
    src: local("DynaPuff-Bold"),
         url("/font/DynaPuff-Bold.woff2") format("woff2"),
         url("/font/DynaPuff-Bold.woff") format("woff"),
         url("/font/DynaPuff-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PretendardJP-Thin";
    src: local("PretendardJP-Thin"),
         url("/font/PretendardJP-Thin.woff2") format("woff2"),
         url("/font/PretendardJP-Thin.woff") format("woff"),
         url("/font/PretendardJP-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "PretendardJP-ExtraLight";
    src: url("/font/PretendardJP-ExtraLight.woff2") format("woff2"),
         url("/font/PretendardJP-ExtraLight.woff") format("woff"),
         url("/font/PretendardJP-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "PretendardJP-Light";
    src: url("/font/PretendardJP-Light.woff2") format("woff2"),
         url("/font/PretendardJP-Light.woff") format("woff"),
         url("/font/PretendardJP-Light.ttf") format("truetype");
}

@font-face {
    font-family: "PretendardJP-Regular";
    src: local("PretendardJP-Regular"),
         url("/font/PretendardJP-Regular.woff2") format("woff2"),
         url("/font/PretendardJP-Regular.woff") format("woff"),
         url("/font/PretendardJP-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PretendardJP-Medium";
    src: local("PretendardJP-Medium"),
         url("/font/PretendardJP-Medium.woff2") format("woff2"),
         url("/font/PretendardJP-Medium.woff") format("woff"),
         url("/font/PretendardJP-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "PretendardJP-SemiBold";
    src: local("PretendardJP-SemiBold"),
         url("/font/PretendardJP-SemiBold.woff2") format("woff2"),
         url("/font/PretendardJP-SemiBold.woff") format("woff"),
         url("/font/PretendardJP-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "PretendardJP-Bold";
    src: local("PretendardJP-Bold"),
         url("/font/PretendardJP-Bold.woff2") format("woff2"),
         url("/font/PretendardJP-Bold.woff") format("woff"),
         url("/font/PretendardJP-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PretendardJP-ExtraBold";
    src: local("PretendardJP-ExtraBold"),
         url("/font/PretendardJP-ExtraBold.woff2") format("woff2"),
         url("/font/PretendardJP-ExtraBold.woff") format("woff"),
         url("/font/PretendardJP-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "PretendardJP-Black";
    src: local("PretendardJP-Black"),
         url("/font/PretendardJP-Black.woff2") format("woff2"),
         url("/font/PretendardJP-Black.woff") format("woff"),
         url("/font/PretendardJP-Black.ttf") format("truetype");
}

.container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    @include gridBackground();
    background-color: $pink;
    transition: background-color 1s ease;

    font: {
        size: 16px;
        family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }
    letter-spacing: -0.02em;
}

body > div > a {
    cursor: default;
    pointer-events: none;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

header {
    position: relative;
}

section > h2,
section > .fp-tableCell > h2 {
    font-size: 0;
}

ul, ol {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;

    &:not(body > div > a) {
        cursor: pointer;
    }
}

a, span {
    display: inline-block;
}

h1 { font-size: 40px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 26px; }
h5 { font-size: 22px; }
h6 { font-size: 18px; }