@charset 'utf-8';
@import '../../scss/style.scss';
@import '../../scss/common.scss';
@import '../../scss/mixin.scss';


// @keyframes textDrop {
//     0%   { transform: translateY(-200px) scaleY(0.9); opacity: 0; }
//     5%   { opacity: 0.5; }
//     50%  { transform: translateY(0px) scaleY(1); opacity: 1; }
//     65%  { transform: translateY(-10px) scaleY(0.9); opacity: 1; }
//     75%  { transform: translateY(-20px) scaleY(0.9); opacity: 1; }
//     100% { transform: translateY(0px) scaleY(1); opacity: 1; }
// }

@keyframes autoScroll {
    50%  { object-position: 100% 100%; }
    100% { object-position: 0 0; }
}

@keyframes shakeBottom {
    0%, 100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    10% {
        transform: rotate(3deg);
    }
    20%, 40%, 60% {
        transform: rotate(-6deg);
    }
    30%, 50%, 70% {
        transform: rotate(6deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    90% {
        transform: rotate(3deg);
    }
}

@keyframes jelloHorizontal {
    0% { transform: scale3d(1, 1, 1); }
    30% { transform: scale3d(1.25, 0.75, 1); }
    40% { transform: scale3d(0.75, 1.25, 1); }
    50% { transform: scale3d(1.15, 0.85, 1); }
    65% { transform: scale3d(0.95, 1.05, 1); }
    75% { transform: scale3d(1.05, 0.95, 1); }
    100% { transform: scale3d(1, 1, 1); }
}

body {
    @include gridBackground();
    background-color: $pink;
    transition: background-color 1s ease;
}

header {
    @include navigationMenu();
    
    .portfolio__menu {
        display: none;

        @include responsive(tablet-screens) {
            display: block;
            @include flex_between();
    
            .help {
                @include flex_between_center();
                column-gap: 10px;
        
                .help__icon {
                    width: 24px;
                }
                
                .help__text {
                    @include textSet(0.85em, 0.1vw, left, #000);
    
                    .help__title {
                        display: none;

                        @include responsive(tp-screens) {
                            display: block;
                        }
                    }
    
                    .help__description {
        
                        br {
                            @include responsive(tablet-screens) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {

    section {
        @include gridBackground();

        &.web {
            @include thumbnailColor($deepPink, $deepPink_text_bg, $deepPink_rgba, $deepPink_shadow);
            @include workListColor($pink, $deepPink, $deepPink_filter, $pink_rgba);
        }
        &.program {
            @include thumbnailColor($deepBlue, $deepBlue_text_bg, $deepBlue_rgba, $deepBlue_shadow);
            @include workListColor($blue, $deepBlue, $deepBlue_filter, $blue_rgba);
        }
        
        &.design {
            @include thumbnailColor($deepPurple, $deepPurple_text_bg, $deepPurple_rgba, $deepPurple_shadow);
        }

        .section__cover {
            margin-top: 40px;

            .title {
            
                .title__num {
                    position: relative;
                    width: calc(40px + 0.5vw);
                    height: calc(40px + 0.5vw);
                    margin: 0 auto 10px;
                    border-radius: 50%;
                    
                    span {
                        @include element_center();
                        @include dynaPuff_font(SemiBold);
                        @include textSet($h5, 0.5vw, center, white);
                    }
                }
    
                .title__subject {
                    @include flex_center_X();
                    @include dynaPuff_font(SemiBold);
                    // @include textShadow(4px, $deepPurple);
                    letter-spacing: 2px;
                    text-align: center;
                    color: #fff;

                    &.jelloHorizontal {
                        animation: jelloHorizontal 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
                    }

                    .web, .s1 { opacity: 0; animation: textDrop .4s linear forwards .1s; }
                    .n, .s3   { opacity: 0; animation: textDrop .4s linear forwards .3s; }
                    .mobile   { opacity: 0; animation: textDrop .4s linear forwards .5s; }
    
                    .s2 { opacity: 0; animation: textDrop .4s linear forwards .2s; }
                    .s4 { opacity: 0; animation: textDrop .4s linear forwards .4s; }
                    .s5 { opacity: 0; animation: textDrop .4s linear forwards .5s; }
                    .s6 { opacity: 0; animation: textDrop .4s linear forwards .6s; }
                    .s7 { opacity: 0; animation: textDrop .4s linear forwards .7s; }
    
                    @include responsive(tablet-screens) {
                        font-size: $h2 * 1.5;
                    }
                }
    
                .title__text {
                    margin-top: 30px;
                    @include PretendardJP_font(medium);
                    @include textSet(0.9em, 0.1vw, center, white);
    
                    span {
                        margin-bottom: 3px;
                        border-radius: 30px;
                    }
                }
            }
    
            .category {
                @include flex_center_X();
                flex-wrap: wrap;
                row-gap: 25px;
                width: 100%;
                margin-top: 60px;
    
                @include responsive(tablet-screens) {
                    column-gap: 20px;
                }
    
                &.flex-end {
                    align-items: flex-end;
                    margin-bottom: 80px;
    
                    @include responsive(tablet-screens) {
                        margin-bottom: 70px;
                    }
                }
    
                .category__item {
                    position: relative;
                    width: calc(100% / 2);
                    text-align: center;
                    transition: all .3s;
    
                    &.des {
                        width: calc(100% / 3);
                        
                        @include responsive(tablet-screens) {
                            width: calc(100% / 4 - 3%);
                        }
                    }
    
                    &:hover {
                        transform: scale(1.2);
                    }
    
                    @include responsive(tablet-screens) {
                        width: calc(100% / 4 - 3%);
                    }
    
                    .nodejs {
                        position: relative;
                        z-index: 1;
    
                        .speach-bubble {
                            width: 160px;
                            height: 50px;
                            margin: 0 auto 10px;
                            background: url('../image/bubble.png');
                            zoom: 0.8;
        
                            @include responsive(tablet-screens) {
                                margin-bottom: -10px;
                                zoom: 0.9;
                            }
        
                            div {
                                width: 100%;
                                height: calc(50px - 10px);
                                line-height: 40px;
                                @include dynaPuff_font(regular);
                                letter-spacing: -0.04em;
                                color: rgba(83, 144, 246, 0.8);
                            }
                        }
                    }
    
                    .category__icon {
                        height: 80px;
                        margin: 0 auto;
                        // @include dropShadow(6px, $deepPurple);
    
                        @include responsive(tablet-screens) {
                            position: relative;
                            top: 20px;
                            height: 100px;
                            z-index: 1;
                        }
                    }
    
                    .category__bg {
                        position: relative;
                        width: 100%;
                        height: 30px;
                        margin: 0 auto;
                        text-align: center;
                        white-space: nowrap;
                        color: #fff;
                        border-radius: 50%;
    
                        @include responsive(tablet-screens) {
                            width: 80%;
                            height: 120px;
                            // @include background($deepPurple_rgba);
                        }
    
                        div {
                            @include element_center();
    
                            h3 {
                                @include dynaPuff_font(regular);
                                @include textSet($h6, 0.1vw, inherit, inherit);
                                // @include textShadow(2px, $deepPurple);
                                // @include boxShadow(20px, $deepPurple);
                                // @include background($deepPurple_rgba);
                                line-height: inherit;
                                letter-spacing: 0.04em;
                                border-radius: 40px;
    
                                @include responsive(tablet-screens) {
                                    // @include textShadow(4px, $deepPurple);
                                    font-size: $h3;
                                    letter-spacing: 0.02em;
                                    border-radius: 0;
                                    background: none;
                                    box-shadow: none;
                                }
                            }
                            span {
                                display: none;
    
                                @include responsive(tablet-screens) {
                                    display: block;
                                    margin-top: 8px;
                                    font-size: 0.9em;
                                }
                            }
                        }
                    }
                    
                    .shakeBottom {
                        animation: shakeBottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
                    }
                }
            }
        }

        .device {
            position: relative;
            text-align: center;
            z-index: 1;

            .monitor {
                text-align: center;
                margin-bottom: -20px;
    
                .monitor__bezel {
                    position: relative;
                    max-width: 768px;
                    max-height: 432px;
                    width: 80%;
                    margin: 0 auto;
                    aspect-ratio: 16 / 9;
                    border-radius: 10px;
                    overflow: hidden;
                    
                    .monitor__screen {
                        @include element_center();
                        width: 100%;
                        height: 100%;
                        padding: 2%;
                        overflow: hidden;
                        background: #000;

                        a {
                            width: 100%;
                            height: 100%;
                        }

                        img {
                            @include imageCover();
                            object-position: top;
                            cursor: pointer;

                            &.autoScroll {
                                animation: autoScroll 15s ease-out;
                                animation-delay: 2s;
                            }
                        }
                    }
                }
    
                .monitor__stand {
                    height: clamp(35px, 10vw, 65px);
                }
            }
            
            .phone {
                @include devicePhone();
                position: absolute;
                right: clamp(15%, 30vw, 20%);
                bottom: 0;

                .phone__wrap {
                    width: clamp(50px, 15vw, 150px);
                }
            }
        }
    
        .desk {
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            padding: 30px;
            border-radius: 30px;
            background: #fff;
            // @include boxShadowAll(15px, $deepPink, 40px, $pink);
            
            @include responsive(tablet-screens) {
                justify-content: space-between;
                flex-wrap: nowrap;
                column-gap: 40px;
                padding: 45px 65px;
                margin: 0 auto;
            }
            
            @include responsive(tp-screens) {
                width: 80%;
                padding: 45px 85px;
            }

            .desk__info {
                width: 100%;
                height: 100%;
                padding: 2vw 0 6vw;
                
                @include responsive(tablet-screens) {
                    display: flex;
                    align-content: space-between;
                    flex-wrap: wrap;
                    padding: 0;
                }

                .desk__info__title {
                    width: 100%;
                    text-align: center;

                    @include responsive(tablet-screens) {
                        text-align: left;
                    }

                    h3 {
                        font-size: $h4;

                        @include responsive(tablet-screens) {
                            font-size: $h3;
                        }

                        small {
                            display: block;
                            margin-top: 5px;
                            @include responsive(tablet-screens) {
                                display: inline-block;
                                margin-top: 0;
                                margin-left: 5px;
                            }
                        }
                    }

                    p {
                        padding-top: 15px;
                        @include textSet(0.9em, 0.1vw, center, $bk1);

                        @include responsive(tablet-screens) {
                            padding-bottom: 30px;
                            text-align: left;
                            // @include textSet(0.95em, left, $bk1);
                        }

                        br {
                            display: none;

                            @include responsive(tablet-screens) {
                                display: block;
                            }
                        }
                    }
                }

                .desk__info__link {
                    @include flex_between();
                    flex-wrap: wrap;
                    column-gap: 10px;
                    position: absolute;
                    bottom: 40px;
                    width: calc(100% - 60px);

                    @include responsive(tablet-screens) {
                        justify-content: flex-start;
                        flex-wrap: nowrap;
                        position: static;
                        width: auto;
                    }

                    a {
                        @include flex_center_center();
                        column-gap: 5px;
                        flex: 1;
                        width: 100%;
                        padding: 10px;
                        border-radius: 20px;
                        // box-shadow: inset 0px -5px 15px $pink_rgba;
                        transition: box-shadow .3s;

                        // &:hover {
                        //     box-shadow: inset 0px 5px 10px $pink;
                        // }

                        @include responsive(tablet-screens) {
                            flex: none;
                            width: auto;
                            padding: 10px 20px;
                        }
                        
                        img {
                            // filter: $deepPink_filter;
                            height: 16px;
                        }

                        span {
                            @include PretendardJP_font(medium);
                            // @include textSet(0.85em, left, $deepPink);
                            line-height: 0;
                        }
                    }
                }
            }

            .desk__table {
                display: table;
                width: 100%;
                padding: 20px;
                margin-bottom: 65px;
                border-radius: 10px;
                // box-shadow: inset 0px 10px 20px $pink_rgba;


                @include responsive(tablet-screens) {
                    width: 80%;
                    padding: 30px;
                    margin-bottom: 0;
                }

                .body {
                    display: table-row-group;
                } 

                .row {
                    display: table-row;

                    &:last-child .cell {
                        padding-bottom: 0;
                    }
                }

                .cell {
                    display: table-cell;    
                    padding-bottom: 10px;
                    @include textSet(0.85em, 0.1vw, center, $bk1);
                }

                .head {
                    width: 20%;
                    padding-right: 10px;
                    @include PretendardJP_font(medium);
                    // @include textSet(0.85em, center, $deepPink);
                    white-space: nowrap;
                }
            }
        }

        #slide1-8 {

            .trainer {
                position: relative;
                @include flex_end_Y();
                justify-content: center;
                column-gap: 2vmin;
                margin-bottom: -15px;
                z-index: 1;

                .phone {
                    position: unset;
                    @include devicePhone();

                    .phone__wrap {

                        &.app { width: clamp(70px, 20vw, 200px); }
                        &.vr { width: clamp(140px, 25vw, 480px); }

                        .phone__inner {

                            &.horizon { 
                                width: 94%; height: 88%; 
                            }

                            .inner .inner__notch.horizontal {
                                top: 50%;
                                right: 0;
                                left: unset;
                                transform: translateY(-50%);
                                width: 5%;
                            }
                        }
                    }
                }

                .watch {
                    width: clamp(50px, 20vw, 150px);

                    .watch__wrap {
                        position: relative;

                        .watch__body {
                            @include imageCover();
                        }
    
                        .watch__inner {
                            @include element_center();
                            top: 49%;
                            left: 48%;
                            width: 75%;
                            height: clamp(40px, 50%, 220px);
                            border-radius: 1.5vmin;
                            background: white;
                            overflow: hidden;

                            img {
                                @include imageCover();
                            }

                            
                        }
                    }
                }

                .appSlide {
                    display: flex;
                    height: 100%;

                    &.III { width: 300%; }
                    &.IV  { width: 400%; }
                    &.V   { width: 500%; }

                    li {
                        float: left;
                        width: 100%;
                    }
                }
            }
        }

        /*** design ***/
        .mini-category {
            display: flex;
            align-items: center;

            .mini-category__icon {
                @include dropShadow(6px, $deepPurple);
                height: 50px;
                z-index: 1;

                @include responsive(tp-screens) {
                    height: 70px;
                }
            }

            .mini-category__bg {
                display: inline-block;
                position: relative;
                left: -30px;
                padding: 5px 25px 5px 45px;
                border-radius: 0 50px 50px 0;
                background: $deepPurple_rgba;

                h4 {
                    @include dynaPuff_font(regular);
                    @include textSet(1em, 0.5vw, left, inherit);
                    @include textShadow(4px, $deepPurple_rgba);
                    letter-spacing: 0.02em;
                    color: #fff;
                }
            }           
        }

        .artwork {
            @include flex_center_X();
            flex-wrap: wrap;
            row-gap: 20px;
            margin-top: 30px;

            @include responsive(tp-screens) {
                flex-wrap: nowrap;
                row-gap: 0;
            }

            .artwork__item {
                width: 100%;
                
                @include responsive(tp-screens) {
                    padding: 0 20px;
                    &:first-child { padding-left: 0; }
                    &:last-child { padding-right: 0; }

                    &.w-30 { width: 30%; }
                    &.w-30c { width: calc(100% / 3); }
                    &.w-40 { width: 40%; }
                    &.w-50 { width: 50%; }
                    &.w-60 { width: 60%; }
                    &.w-70 { width: 70%; }
                }

                .artwork__item__pic {
                    position: relative;
                    transition: all .3s;
                    
                    .ratio {
                        width: 100%;
                        height: 35vh;
                        border-radius: 10px;
                        overflow: hidden;
                        @include boxShadowAll(15px, $deepPurple, 15px, $purple);
                        cursor: url('../../image/cursor_more.png'), pointer;
                        transition: all .3s;
                        
                        &.s-height { height: 20vh; }
                        &.m-height { height: 30vh; }
                        &.web    { aspect-ratio: 16/9; }
                        &.poster { aspect-ratio: 5/7; }
                        
                        &:hover {
                            transform: scale(1.05);
                            box-shadow: 0px 0px 50px $deepPurple_shadow;
                        }
                        
                        &::after, &:hover::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: calc(100% - 4px);
                            border-radius: inherit;
                            // background-color: $deepPurple_rgba;
                        }

                        @include responsive(tp-screens) {
                            height: 600px !important;
                        }

                        img {
                            position: relative;
                            @include imageCover();
                            object-position: top;
                            z-index: -1;
                            
                            &.autoScroll {
                                animation: autoScroll 3s ease-out infinite;
                            }
                        }
                    }
                }

                .artwork__item__text {
                    display: block;
                    margin-top: 10px;
                    text-align: center;
                    color: #fff;
                    
                    @include responsive(tp-screens) {
                        margin-top: 20px;
                    }

                    h5 {
                        display: inline-block;
                        padding: 5px 15px;
                        margin-bottom: 10px;
                        border-radius: 30px;
                        @include textShadow(2px, $deepPurple);
                        font-size: 16px;
                        background : $deepPurple_text_bg;

                        @include responsive(tp-screens) {
                            font-size: $h5;
                        }
                        
                    }

                    p {
                        display: none;
                        
                        @include responsive(tp-screens) {
                            display: block;
                            @include PretendardJP_font(medium);
                            @include textSet(0.9em, 0.1vw, center, inherit);
                            text-shadow: 0px 0px 9px $deepPurple_shadow;
                        }
                    }
                }
            }
        }

        .logo3d {
            @include responsive(tp-screens) {
                display: flex;
                column-gap: 40px;
            }

            .logo3d__item {
                @include responsive(tp-screens) {
                    &:first-child { width: 60%; }
                    &:last-child  { width: 40%; }
                }
            }
        }
    }

    

    
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -300%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 27, 28, 0.7);
    transition: .7s;
    transform: translateY(100%);
    opacity: 0;
    touch-action: none; 
    z-index: 1000000000;

    &.show {
        transform: translateY(0);
        opacity: 1;
        bottom: 0;
    }

    .modal__header {
        @include flex_end_X();
        align-items: center;
        height: 70px;

        h3 {
            @include element_center_X();
            @include textSet(1em, 0.1vw, inherit, #fff);
            @include PretendardJP_font(light);
        }

        &.guide {
            position: fixed;
            top: 0;
            right: 16px;
            z-index: 1;
            
            .close__icon {
                stroke: #000 !important;
            }
        }

        #modal__close {
            width: 70px;
            height: 70px;
            background: transparent;
            border: 0;
            opacity: 0.5;
            
            &:hover {
                opacity: 1;
            }

            .close__icon {
                @include menuIcon();
            }
        }
    }

    .modal__wrap {
        position: relative;
        flex-grow: 1;
        // box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);

        .modal__iframe {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
        }
    }

    #adobe-dc-view {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 0;
    }
}