@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/common.scss';

$mainColor: #563422;
@include guideCommon();
@include guideThemeColorCommon($mainColor);

header {
    background: {
        image: url('../../image/design/3d_coffee_landing.png');
        position: bottom;
    }
}

.about__title strong {
    color: $mainColor;
}

.about__explain strong {
    background: $mainColor;
}

.concept__size {
    text-align: center;

    img {
        max-width: 720px;
        width: 100%;
        margin: 0 auto;
    }
} 

.concept__modeling {
    
    .modeling {
        @include out_container();
        margin: {
            top: 10vw;
            bottom: 10vw;
        }
    
        &:first-child { margin-top: 0; }
        &:last-child  { margin-bottom: 0; }
    
        @include responsive(tp-screens) {
            left: unset;
            right: unset;
            width: auto;
            margin: {
                left: 0;
                right: 0;
            }
            
            &::after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }

            &.left {
                width: calc(720/1440*100%);
            }

            &.right { 
                width: calc(800/1440*100%);
                margin-left: auto; 
            }
        }
    
        img {
            width: 100%;
    
            @include responsive(tp-screens) {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


// .about__journey {
//     @include flex_between_center();
//     flex-wrap: wrap;

//     @include responsive(tablet-screens) {
//         flex-wrap: nowrap;

//     }

//     li {
//         // flex: 1 1 0;
//         // text-align: center;
//         &:not(.line) {
//             flex: calc(100%/4) 1 0;
//         }

//         &.line {
//             display: block;
//             flex: 1;
//             border-bottom: 2px dotted $mainColor;
//             margin: 0 10px;
//         }
//     }
//     img {
//         display: block;
//         margin: 20px auto;
//         height: 65px;
//     }

//     span {
//         padding: 5px 10px;
//         @include PretendardJP_font(semibold);
//         font-size: calc(0.8em + 0.1vw);
//         color: $mainColor;
//         background: #f3eadb;
//         border-radius: 50px;
//     }
// }