@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/common.scss';

@include guideCommon();

$mainColor: #784c30;

header {
    background-image: url('../../image/design/editorial_doaner_landing.png');
}

.circle {

    &.line { 
        border: 2px solid $mainColor;
        color: $mainColor;
    }
    
    &.plane {
        background-color: $mainColor;
        color: #fff;
    }
}

.job__wrap {
    margin-top: 60px;

    .job__title {
        font-size: calc($h4 + 0.5vw);
        line-height: calc($h4 + 0.5vw);
        text-align: center;

        br {
            @include responsive(tablet-screens) {
                display: none;
            }
        }

        strong {
            color: $mainColor;
            @include PretendardJP_font(semibold);
        }
    }

    .job__explain {
        @include textSet(1em, 0.1vw, justify, inherit);
        margin: 40px 0 60px;

        @include responsive(tablet-screens) {
            text-align: center;
        }

        strong {
            @include PretendardJP_font(regular);
            font-size: calc(0.8em + 0.1vw);
            padding: 5px 15px;
            color: #fff;
            background: $mainColor;
            border-radius: 30px;
        }

        br {
            @include noneBlock(tablet);
        }
    }
}

.concept {
    margin-bottom: 0;

    .concept__item {
        display: flex;
        flex-direction: column;
        margin: 60px 0;

        &:last-child {
            margin: 0;
        }

        @include responsive(tp-screens) {
            flex-direction: row;

            &:not(:first-child):not(:last-child) {
                margin: 180px 0;
            }
            
            &:nth-child(odd) {
                width: calc(100% - 40px);
                margin-left: auto;
            }

            &:nth-child(even) {
                justify-content: flex-end;
            }
        }
    }

    .concept__title {
        padding: 5px;
        text-align: center;
        border-radius: 50px;
        background: #f1f1f1;

        @include responsive(tp-screens) {
            width: 120px;
            padding: 0;
            text-align: left;
            border-radius: 0;
            background: transparent;
        }
    }

    .concept__contents {
        // flex: 1;

        .concept__inner {
            margin: 40px 0;
            
            @include responsive(tp-screens) {
                &:first-child { margin-top: 0; }
            }
            
            .concept__info {
                margin: 20px 0;
                text-align: center;

                @include responsive(tp-screens) {
                    margin: 3px 0 0 0;
                    text-align: left;                    
                }

                .concept__type {
                    @include PretendardJP_font(medium);
                    margin-bottom: 20px;

                    @include responsive(tp-screens) {
                        display: inline-block;
                        margin: {
                            right: 20px;
                            bottom: 0;
                        }
                    }
                }
    
                .concept__description {
                    display: inline-block;
                    @include textSet(0.9em, 0.1vw, center, $bk1);

                    &.sketch {
                        padding-left: 20px;
                    }

                    @include responsive(tp-screens) {
                        margin-bottom: 20px;
                        text-align: left;
                    }

                    b {
                        @include PretendardJP_font(regular);     
                    }

                    br {
                        @include responsive(tablet-screens) {
                            display: none;
                        }
                    }
                }
            }
            
            .concept__color {
                @include flex_center_X();
                flex-wrap: wrap;
                column-gap: 20px;
                row-gap: 20px;

                @include responsive(tp-screens) {
                    justify-content: flex-start;
                }

                .color__item {
                    flex: 1 1 40%;
                    border-radius: 10px;
                    box-shadow: 0 5px 15px #e4e4e4;
                    overflow: hidden;
                    
                    @include responsive(tablet-screens) {
                        width: 160px;
                        flex: none;
                    }

                    .color__box {
                        width: 100%;
                        height: 130px;
    
                        &[data-color='EF5A5A'] { background: #EF5A5A; }
                        &[data-color='FFA952'] { background: #FFA952; }
                        &[data-color='FFE79A'] { background: #FFE79A; }
                        &[data-color='FEFFDF'] { background: #FEFFDF; }
                        &[data-color='371E0E'] { background: #371E0E; }
                        &[data-color='784C30'] { background: #784C30; }
                        &[data-color='918873'] { background: #918873; }
                        &[data-color='FFFFFF'] { background: #FFFFFF; border-bottom: 1px solid $guideShadow; }
                    }
    
                    .color__code {
                        padding: 20px;
                        
                        b {
                            display: block;
    
                            &:before {
                                content: '\0023';
                            }
                        }

                        small {
                            color: $bk2;
                        }
                    }
                }
            }
            
            .concept__style {

                .style__icon {
                    @include flex_between();
                    column-gap: 20px;
                    row-gap: 20px;
                    flex-wrap: wrap;

                    &::after {
                        content: '';
                        flex: auto;
                    }
                    
                    @include responsive(tp-screens) {
                        justify-content: flex-start;
                        column-gap: 40px;
                        width: 680px;
                    }

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }

            .concept__sketch {
                
                img {
                    width: 100%;
                }
            }
        }
    }
}