@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/common.scss';

@include guideCommon();

$mainColor: #784c30;

header {
    background-image: url('../../image/design/editorial_doaner_landing.png');
}

.circle {

    &.line { 
        border: 2px solid $mainColor;
        color: $mainColor;
    }
    
    &.plane {
        background-color: $mainColor;
        color: #fff;
    }
}

.about__title strong {
    color: $mainColor;
}

.about__explain strong {
    background: $mainColor;
}

.color__box {
    &[data-color='EF5A5A'] { background: #EF5A5A; }
    &[data-color='FFA952'] { background: #FFA952; }
    &[data-color='FFE79A'] { background: #FFE79A; }
    &[data-color='FEFFDF'] { background: #FEFFDF; }
    &[data-color='371E0E'] { background: #371E0E; }
    &[data-color='784C30'] { background: #784C30; }
    &[data-color='918873'] { background: #918873; }
    &[data-color='FFFFFF'] { background: #FFFFFF; border-bottom: 1px solid $guideShadow; }
}