@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/common.scss';

@include guideCommon();

header {
    background-image: url('../../image/design/poster_ballet_landing.png');
}

.circle {

    &.line { 
        border: 2px solid #ff8618;
        color: #ff8618;
    }
    
    &.plane {
        background-color: #ff8618;
        color: #fff;
    }
}