@charset 'utf-8';
@import '../../../scss/style.scss';
@import '../../../scss/mixin.scss';
@import '../../../scss/common.scss';

$mainColor: #aca5d6;
@include guideCommon();
@include guideThemeColorCommon($mainColor);

header {
    background-image: url('../../image/design/poster_raccoon_landing.png');
}
main section.series .series__wrap {
    align-items: flex-start;

    .series__item:last-child img {

        @include responsive(tablet-screens) {
            margin-top: 300px;
        }
    }
}
